@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


::-webkit-scrollbar{
  display: none;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}



.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavItems {
  width: 60%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.customLink{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.customLink:hover{
  color: cyan;
}


.customLink::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: yellow;
  transition: all 0.25s;
}

.customLink:hover::before{
  width: 100%;
}

.customLink::after{
  content: "";
  position: absolute;
  right: 0;
  top: -2px;
  width: 0;
  height: 3px;
  background-color: rgb(252, 0, 206);
  transition: all 0.35s;
}

.customLink:hover::after{
  width: 100%;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  margin-bottom: 3px;
  transition: all 0.75s;
}

.line1{  
  background-color: rgb(252, 231, 0);
}

.line2{
  background-color: white;
}

.line3{
  background-color: cyan;
}

@media screen  and (max-width: 768px){

  .burger{
    display: block;
    cursor: pointer;
  }
  

  .NavItems{
    position: absolute;
    right: 0px;
    top: 100px;
    padding-right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #400970;
    opacity: 0;
    z-index: 10;
  }

  .NavItems.open {
    opacity: 1;
    transition: all 0.45s;
  }

  .NavItems li{
    padding: 20px;
  }

  .burger.open .line3{
    transition: all 1s;
    opacity: 0;
  }

  .burger.open .line1{
    background-color: yellow;
    transition: all 0.5s;
    transform: rotate(45deg) translateY(4px);
  }

  .burger.open .line2{
    background-color: rgb(252, 0, 206);
    transition: all 0.5s;
    transform: rotate(-45deg) translateY(-4px);
  }

}

.desktopMenu-active{
  transform: translateX(0%);
}


#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 100;
    left: 0
}

.portfolio-section{
  padding: 30px;
}

.font-weight-bold {
  font-weight: 700!important;
}

p {
  color: #999;
}

.bi {
  display: block;
  font-size: 20px;
  color: #999;
  height: 46px;
  width: 46px;
  line-height: 46px;
  border: 2px solid #555;
  border-radius: 50%;
  text-align: center;
  transition: .2s ease;
}

.bi:hover {
  color: green;
  border-color: green;
}

.paragraph {
  font-weight: 400;
  color: #999;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(5, 242, 246);
  font-family: "Open Sans", sans-serif;
  font-weight: 700 !important;
  line-height: 1.4 !important;
}

h2, .h2 {
  font-size: 48px !important;
  font-family: 'Playball';
  color: #ada9a8;
}

h4, .h4 {
  font-size: 24px !important;
}

.title-border {
  border-bottom: green;
}

.custom-typeWriter{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #999;
}

.custom-item-heading {
  color: #b170e6;
}


.skill-item{
  position: relative;
  width: 120px;
  display: inline-flex;
  margin: 5px;
  height: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 60px;
} 

.skill-name{
  color: white;
  position: absolute;
  display: none;
  border-bottom: 1px solid #c787ff;
  transform: translateY(160%);
  font-weight: 900;
  z-index: 5;
}

.skill-item-border {
  position: absolute;
  display:block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-clip: content-box;
}

.skill-item:hover .skill-item-border {  
  border: 4px dashed #8800ff;
  animation: spin 10s linear infinite;
}

.skill-item:hover .skill-name{
  display: inline-block;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}

::-moz-selection { 
  background: green;
  color: white;
}

::selection {
  background: green;
  color: white;
}

input, textarea {
  outline: 1px solid green;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* Contact loader */

.customLoader {
  border: 4px solid #3a3a3a; /* Light grey */
  border-top: 4px solid #02f91f; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  z-index: 5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Learning */

.Learning-Items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}



.learning-item{
  border: 1px solid rgb(63, 61, 61);
  width: 30%;
  height: 340px;
  background-color: transparent;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1rem;
}

.learning-header{
  display: flex;
  align-items: center;
  justify-content: start;
}

.learning-item:hover {
  transition: all 0.3s linear;
  border: 1px solid rgb(237, 217, 240);
}


.learning-image{
  border-radius: 5%;
  margin: 0.5rem;
}

@media screen  and (max-width: 1380px){
  .learning-item{
    text-align: center;
    min-width: 40%;
    display: inline-block;
    height: fit-content;
  }
  .learning-content{
    margin-top: 0.4rem;
    text-align: start;
  }
}

@media screen  and (max-width: 770px){
  .learning-item{
    min-width: 90%;
    display: inline-block;
  }
  .learning-image{
    margin: 0;
  }
  .learning-content{
    margin-top: 0.4rem;
    text-align: start;
  }

  .Learning-Items{
    flex-direction: column;
    width: 100%;
  }
}


.learning-title{
  color: #a34bf1;
  font-size: small;
  font-weight: bolder;
  text-align: left;
}

.learning-description{
  color: #fff;
  font-size: smaller;
  text-overflow: ellipsis;
}

.learning-options{
  margin: 0.1rem;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.learning-subtitle{
  color: #e0f902;
  padding-left: 10px;
  font-weight: bold;
  font-size: x-small;
  text-align: left;
}

.learning-option{
  background-color: rgb(5, 3, 61);
  border: 2px solid white;
  color: white;
  padding: 0.3rem;
  text-decoration: none;
  overflow: hidden;
  border-radius: 20%;
  margin: 0.5rem;
  font-size: small;;
}

.learning-option:hover{
  color: yellow;
  background-color: rgb(8, 83, 224);
  transition: all 0.5s linear;
}

.learning-content{
  height:170px;
}
